
/vscode
/.vscode
/.vscode/settings.json
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/extensions.json
/.vscode/*.code-workspace
/.vscode/*.code-workspace.json

/notes

.iml
.idea
/.idea
/.idea/workspace.xml
/.idea/tasks.xml

/src/__pycache__
/src/.pytest_cache